<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Denis Alekov</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="../static/light-bulb.png">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="../static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Denis.</h1>
      <h2>a Python <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="../static/cloud.png" alt="cloud">
    <img class="mountain" src="../static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="../static/snimka.png" alt="angela-profile-img">
      <h2>Hello there! 👋🏻</h2>
      <p class="intro">I am a student at SoftUni, currently pursuing a degree in Programming. I specialize in web and back-end development with Python, HTML, CSS. I love sports and mountaineering.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>Ever since I can remember, I have always been fascinated by computers and that is what pushed me to start learning how to code. Over the time, I have built significant experience in handling server logic.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="../static/chillies.png" alt="chillies-img">

        <h3>Hot Food Challenge</h3>
        <p>But my best skill is actually in eating hot food. I am the undisputed king of hot wing challenges. Chilli Peppers are my favourite snack!</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love hot food as much as I do.</h3>
      <p class="contact-message">Love hot food as much as I do? Want to collaborate on a project? Let's talk! We can code while we eat hot wings!</p>
      <a class="btn" href="mailto:denis.alekov1@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/dalekov/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/dalekov">Github</a>
    <a class="footer-link" href="https://www.facebook.com/denis.alekov.17">Facebook</a>

    <p class="copyright">© 2024 Denis Alekov</p>
  </div>
</body>

</html>
